#!/bin/bash
{% for host in groups['haproxy_servers'] -%}
# {{ hostvars[host].ansible_default_ipv4 }}
#
/usr/bin/mysql -u root -p{{ mysql_root_password }} -e "USE mysql; INSERT INTO user (Host,User) values ('{{ hostvars[host]['ansible_eth1']['ipv4']['address'] }}','{{  galera_clustercheck_user }}'); FLUSH PRIVILEGES;"{{"\n"}}
#
{%- endfor -%}
#






main_nodes_ips: "{{ groups['mainnodes'] | map('extract', hostvars, ['ansible_ssh_host']) | join(',') }}"
main_nodes_ips_with_port: "{{ groups['mainnodes'] | map('extract', hostvars, ['ansible_ssh_host']) | join(':3000,') }}:3000"
